.card {
  overflow: hidden;
  position: relative;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, $dark 100%);
    z-index: 5;
  }

  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    inset: 15px;
    border: 3px double rgba(255, 255, 255, 0.4);
    transition: opacity 0.2s ease-in;
    z-index: 6;
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover {
    color: $white;
  }
}

.card:hover .card__img {
  transform: scale(1.1);
}

.card__title {
  position: absolute;
  left: 50px;
  right: 20px;
  bottom: 44px;

  font-size: 24px;
  z-index: 5;

  @include mediaTablet {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.card__img {
  transition: 0.5s;
}
